<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss">
        @theme {
            --color-clifford: #da373d;
        }
    </style>
    <title>Cocktail App</title>
</head>
<body>
    <h1 class="text-5xl font-bold text-clifford mt4">
        <a href="/" class="hover:opacity-80 cursor-pointer no-underline">
            Cocktails & Chill 🍹
        </a>
    </h1>

    <!-- Search Form -->

    <form method="POST">
        <input type="text" name="cocktail_name" placeholder="Search for a cocktail..." required>
        <button type="submit" name="action" value="search">Search</button>
    </form>

    <!-- Random Cocktail Button -->
    <form action="/" method="POST" style="margin-top: 10px;">
        <button type="submit" name="action" value="random"> 🍸 Random Cocktail</button>
    </form>


    <!-- Show Message if provided -->
    {% if message %}
        <p><strong>{{ message }}</strong></p>
    {% endif %}


    <!--  Display Cocktails without details -->
    {% if cocktails %}
            {% for cocktail in cocktails %}
                <div style="border:1px solid #ccc; padding:10px; margin:10px 0;">
                    <a href="/details/{{ cocktail.id }}" style="text-decoration:none; color:black;">
                        <h3>{{ cocktail.name }}</h3>
                        <img src="{{ cocktail.image }}" alt="{{ cocktail.name }}" width="200">
                    </a>
                    
                    <!-- <p><strong>Category:</strong>{{ cocktail.category }}</p> -->
                    <!-- <p><strong>Instructions:</strong>{{ cocktail.instructions }}</p> -->
                    <!-- <p><strong>What You'll Need:</strong></p> -->
                    <!-- <ul> -->
                        <!-- {% for item in cocktail.ingredients %} -->
                            <!-- <li>{{ item }}</li> -->
                        <!-- {% endfor %} -->
                    <!-- </ul> -->
                </div>
            {% endfor %}
    {% endif %}

</body>
</html>
